<div id="menu">
    <div ng-click="redirectFeed()" class="menuitem">Logo</div>
    <div ng-click="redirectFeed()" class="selectedItem">Feed</div>
    <div ng-click="redirectProfile()" class="menuitem">Profile</div>
    <div ng-click="redirectOptions()" class="menuitem">Options</div>
    <div ng-click="redirectPrivacy()" class="menuitem">Privacy</div>
    <div class="menuitem">Notifications</div>
    <div class="menuitem">Friend Requests</div>
    <div ng-click="redirectLogout()" class="menuitem">Logout</div>
</div>

<div id="profilePic">User Foto Hier</div>

<div id="createPost">
    <b>Create Post</b><br>
<textarea id="postText"></textarea><br>
    <div id="buttons">
        <button>add foto/video</button>
        <button>add etc.</button>
        <button>Send Post</button>
    </div>
</div>
<div id="gotPosts">
    <img src="Images\profile.png" class="user"><br>Username
    <div class="post">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
        <div class="postFooter">
            <button>Respect</button>
            <button>Comment</button>
            <button>Share</button>
        </div>
    </div>

    <img src="Images\profile.png" class="user"><br> Username
    <div class="post">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="postFooter">
            <button>Respect</button>
            <button>Comment</button>
            <button>Share</button>
        </div>
    </div>

    <img src="Images\profile.png" class="user"><br>Username
    <div class="post">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
        </p>
        <div class="postFooter">
            <button>Respect</button>
            <button>Comment</button>
            <button>Share</button>
        </div>
    </div>

    <img src="Images\profile.png" class="user"><br> Username
    <div class="post">
        <p>
            Etiam arcu orci, tincidunt vel lorem eu, iaculis posuere nibh. Phasellus efficitur scelerisque diam, id sodales nisl rhoncus ut. Donec sodales feugiat lacus sit amet cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vulputate facilisis aliquam. Ut vestibulum arcu faucibus ipsum iaculis, et tincidunt diam faucibus. Aenean ultrices congue quam eget aliquam. Proin sed elementum enim. Ut ultrices leo ut eros dictum, sed condimentum nisi auctor. Ut et elementum nulla, iaculis ultricies mi. Sed nisl ligula, molestie ac sodales non, hendrerit sit amet tellus. Nunc a pretium risus, nec mollis urna.
        </p>
        <div class="postFooter">
            <button>Respect</button>
            <button>Comment</button>
            <button>Share</button>
        </div>
    </div>
</div>
