<div id="menu">
    <div ng-click="redirectFeed()" class="menuitem"> <img src="Images\speech.png" class="menuLogo"></div>
    <div ng-click="redirectFeed()" class="selectedItem"> <img src="Images\feedicon.png" class="menuIcon">Feed</div>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <textarea class="searchBar" placeholder="Wat zoek u"></textarea>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <div ng-click="redirectProfile()" class="menuitem"><img src="Images\profileicon.png" class="menuIcon" />Profile</div>
    <div ng-click="redirectOptions()" class="menuitem"><img src="Images\settingsicon.png" class="menuIcon" /> Options</div>
    <div ng-click="redirectLogin()" class="menuitem">Logout</div>
</div>

<div class="UserPanelContainer">

    <div id="Header"> <center>USER PANEL </center></div>
    <img src="Images\wesley.jpg" id="panelNamePic">
    <div id="panelName"> <center>Wesley de Waart</center></div>
    <div id="friendCount">You have <br /><b>98 Friends</b></div>
    <div id="onlineStatus">
        Shown as:<img src="Images\dropdownArrow.png" id="dropdownIconOnline">  <br />
        <img src="Images\userOnline.png" id="onlineStatusIcon"><b> Online</b>
    </div>
    <div id="panelInformation">
        <div class="Weather">
            <center>
                <img src="Images\weatherSunny.png" id="weatherIcon">
                <p>You are currently in: {LOCATIE}</p>
                <p>It's going to be a sunny day today!</p>
                <p id="Temperature"> 28ºC</p>
            </center>
        </div>
        <div class="notifications">
            <center>
                <p>You have 5 new notifications</p>
                <p>You have 2 unread Chat Messages</p>
                <p>You have a friends request</p>
            </center>
        </div>
    </div>
</div>

<div class="blackFilter"></div>

<div id="gotPosts">
    <div id="createPost">
        <b class="createposttext"> Create Post</b><br>
        <textarea id="postText" placeholder="Please enter your post here"></textarea><br>
        <div id="buttons">
            <button class="CreatePostButton"><img src="Images\imageicon.png" class="postIcon"> &nbsp; Add picture</button>
            <button class="CreatePostButton"><img src="Images\videoicon.png" class="postIcon"> &nbsp;Add video</button>
            <button class="CreatePostButton"><img src="Images\sendicon.png" class="postIcon">&nbsp; Publish</button>
        </div>

    </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="postcontainer">
        <img src="Images\profile.png" class="user"><br /><p class="username">NIEV - 50 minutes ago </p>
        <div class="post">
            <p class="posttext">
                Ha-di-ho! Vandaag weer les geven aan die verotte! Vandaag gaat weer een ontzettend leuke dag worden. Wiehoe, met plezier naar de Hanze! #Sarcasme! #GeenHastagSupport #IkWilVakantie?
            </p>
            <div class="postFooter">
                <button class=" postFooterButton"><img src="Images\respect.png" class="postFooterImages"></button>
                <button class=" postFooterButton"><img src="Images\comment.png" class="postFooterImages"></button>
                <button class=" postFooterButton"><img src="Images\share.png" class="postFooterImages"></button>
                <p class=" postFooterRespectCount">| 5 mensen gaven Respect!</p>

            </div>
        </div>
        <div class="comment-Container">
            <!-- COMMENT -->
            <div class="profileName"> Belinda van Wouten</div>
            <div class="commentText"> Tot snel! Kan niet wachten om weer een intens leerzame les van u te krijgen. Altijd feest! </div>
            <img src="Images\profile3.png" class="commentuser">
        </div>
        <div class="comment-Container">
    <!-- COMMENT -->
            <div class="profileName"> Test Account</div>
            <div class="commentText"> Alles aan deze feed is kut fix het</div>
            <img src="Images\profile3.png" class="commentuser">
        </div>
        <div class="placecomment-containter ">
            <textarea class="commentArea" placeholder="Enter your comment here"></textarea><br>
        </div>
    </div>
    <div class="postcontainer">
        <img src="Images\profile.png" class="user"><br /><p class="username">NIEV - 45 minutes ago</p>
        <div class="post">
            <p class="posttext">
                Verdomme al mijn leerlingen zijn na de pauze niet terug gekomen. #KutHanze
            </p>
            <div class="postFooter">
                <button><img src="Images\respect.png" class="postFooterImages"></button>
                <button><img src="Images\comment.png" class="postFooterImages"></button>
                <button><img src="Images\share.png" class="postFooterImages"></button>
            </div>
        </div>
        <div class="comment-Container">
            <!-- COMMENT -->
            <div class="profileName"> Jan de Woert </div>
            <div class="commentText"> KFC heeft prioriteit. School is stom.</div>
            <img src="Images\profile2.png" class="commentuser">
        </div>
    </div>

    <div class="postcontainer">
        <img src="Images\profile2.png" class="user"><br /><p class="username">Jan de Woert - Just now</p>
        <div class="post">
            <p class="posttext">
                Haha leraar een bericht gestuurd dat ik niet kwam opdagen omdat ik ''ziek'' was, maar ondertussen zit ik gewoon keihard te gamen haha XD XD XD GEEF LIKES PLZ
            </p>
            <div class="postFooter">
                <button><img src="Images\respect.png" class="postFooterImages"></button>
                <button><img src="Images\comment.png" class="postFooterImages"></button>
                <button><img src="Images\share.png" class="postFooterImages"></button>
            </div>
        </div>
    </div>
    <div class="postcontainer">
        <img src="Images\profile3.png" class="user"><br /><p class="username">Taylor Swift</p>
        <div class="post">
            <p class="posttext">
                <img src="Images\BarackObama.jpg" class="postedphoto">
                Woah! Heb ik zomaar even President Barrack Obama gespot in #Groningen!

            </p>
            <div class="postFooter">
                <button><img src="Images\respect.png" class="postFooterImages"></button>
                <button><img src="Images\comment.png" class="postFooterImages"></button>
                <button><img src="Images\share.png" class="postFooterImages"></button>
            </div>
        </div>
    </div>
    <div class="postcontainer">
        <img src="Images\profile2.png" class="user"><br /><p class="username">Harold van Dam - Just now</p>
        <div class="post">
            <p class="posttext">
                Hebben jullie ook last van een spam probleem op dit platform?????
            </p>
            <div class="postFooter">
                <button><img src="Images\respect.png" class="postFooterImages"></button>
                <button><img src="Images\comment.png" class="postFooterImages"></button>
                <button><img src="Images\share.png" class="postFooterImages"></button>
            </div>
        </div>
    </div>
    <div class="postcontainer">
        <img src="Images\profile3.png" class="user"><br /><p class="username">Marissa - 50 minutes ago </p>
        <div class="post">
            <p class="posttext">
                Waar zijn de Hyves smileys!?
            </p>
            <div class="postFooter">
                <button><img src="Images\respect.png" class="postFooterImages"></button>
                <button><img src="Images\comment.png" class="postFooterImages"></button>
                <button><img src="Images\share.png" class="postFooterImages"></button>

            </div>
        </div>
    </div>
</div>
