<div id="menu">
    <div ng-click="themeChange()" class="menuitem"> <img id="logoBig" src="Images\logo-minimal.png" class="menuLogo"> <img id="logoSmall" src="../../images/Speech-simple.png" class="menuLogo" /></div>
    <div ng-click="redirectFeed()" class="selectedItem"> <img src="Images\feedicon.png" class="menuIcon">Feed</div>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <textarea class="searchBar" placeholder="Search (Names, jobs, gender)"></textarea>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <div ng-click="redirectProfile()" class="menuitem"><img src="Images\profileicon.png" class="menuIcon" />Profile</div>
    <div ng-click="redirectOptions()" class="menuitem"><img src="Images\settingsicon.png" class="menuIcon" /> Options</div>
    <div ng-click="redirectLogin()" class="menuitem"><img src="../../images/icons/logout.png" class="menuIcon"/> Logout</div>
</div>


<div class="UserPanelContainer">
    <div id="Header"> <center>{{Account.FirstName}} {{Account.LastName}}</center></div>
    <img src="{{Account.ProfilePictureUrl}}" id="panelNamePic">
    <div id="friendCount">You have <br /><b>98 Friends</b></div>
    <div id="onlineStatus">
        Shown as:<img src="Images\dropdownArrow.png" id="dropdownIconOnline">  <br />
        <img src="Images\userOnline.png" id="onlineStatusIcon"><b> Online</b>
    </div>
    <div id="panelInformation">
        <div class="WeatherWidget">
            <center>
                <img src="Images\weatherSunny.png" id="weatherIcon">
                <p>You are currently in <br> <b>Groningen</b></p>
                <p id="Temperature"> 28ºC</p>
            </center>
        </div>
        <div class="notificationsWidget">
            <center>
                <p><b>You have 5 new notifications</b></p>
                <p>3 friends replied to your 'Holiday in Spain' album</p>
                <p>Jan de Woert wants to be your friend</p>
                <p>You have been invited to the event: ''Wedding Party''</p>
            </center>
        </div>
        <div class="feedWidget">
            <center>
                <div class="feedHeader">FEED UPDATES</div>
                <div class="feedupdate"><div class="timestamp">4 minutes ago </div> Arjen Bovee made a new post!<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">8 minutes ago </div>Miguel Grant posted a picture of the White House<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">15 minutes ago </div>Marnick Scholten posted an album called: ''2-weeks at Ibiza''<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">23 minutes ago </div>Wesley de Waart made a new post!<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">45 minutes ago </div>Jan de Woert added a video called: "I created a robot that scratches the dog for you!"<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">51 minutes ago </div>Arjen Bovee added a picture called: "My favourite Hanze teacher"<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">1 hour ago </div>Wesley just made a post!<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
            </center>
        </div>
    </div>
</div>

<div class="blackFilter"></div>

<div id="gotPosts-feed">
    <div id="createPost">
        <b class="createposttext"> Create Post</b><br>
        <textarea id="postText" placeholder="Please enter your post here" ng-model="NewPostText"></textarea><br />
        <div id="buttons">
            <input type="file" name="addImage" id="addImage" accept="image/*" />
            <label class="addMedia" for="addImage"><img src="Images\imageicon.png" class="postIcon">Add Image</label>

            <input type="file" name="addVideo" id="addVideo" accept="video/*" />
            <label class="addMedia" for="addVideo"><img src="Images\videoicon.png" class="postIcon">Add Video</label>

            <button id="CreatePublishButton" ng-click="PostFeed()"><img src="Images\sendicon.png" class="postIcon">&nbsp; Publish</button>
        </div>

    </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div class="postcontainer-feed" ng-repeat="item in Feed track by $index">
        <img src="{{item.Creator.ProfilePictureUrl}}" class="user"><br /><p class="username">{{item.Creator.FirstName}} {{item.Creator.LastName}} </p>
        <div class="post">
            <p class="posttext">
                {{item.Feed.Text}}
            </p>
            <div class="postFooter">
                <button class=" postFooterButton" ng-click="GiveRespect(item.Feed.Id, $index)"><img src="Images\respect.png" class="postFooterImages"></button>
                <button class=" postFooterButton"><img src="Images\comment.png" class="postFooterImages"></button>
                <button class=" postFooterButton"><img src="Images\share.png" class="postFooterImages"></button>
                <p class=" postFooterRespectCount">| {{item.Feed.Respect}} Respect!</p>

            </div>
        </div>
        <div class="comment-Container" ng-repeat="comment in item.Comments">
            <!-- COMMENT -->
            <div class="profileName"> {{comment.FirstName}} {{comment.LastName}}</div>
            <div class="commentText"> {{comment.CommentText}} </div>
            <img src="{{comment.ProfilePicUrl}}" class="commentuser">
        </div>

        <div class="placecomment-containter ">
            <textarea class="commentArea" placeholder="Enter your comment here" ng-model="NewComment[$index]"></textarea>
            <br />
            <button ng-click="PostComment(item.Feed.Id, $index)"><img src="Images\sendicon.png" class="postIcon">&nbsp; Post comment</button>

        </div>
    </div>
</div>
