<div id="menu">
    <div ng-click="themeChange()" class="menuitem"> <img id="logoBig" src="Images\logo-minimal.png" class="menuLogo"> <img id="logoSmall" src="../../images/Speech-simple.png" class="menuLogo" /></div>
    <div ng-click="redirectFeed()" class="menuitem"> <img src="Images\feedicon.png" class="menuIcon">Feed</div>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <textarea class="searchBar" placeholder="Search (Names, jobs, gender)"></textarea>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <div ng-click="redirectProfile()" class="selectedItem"><img src="Images\profileicon.png" class="menuIcon" />Profile</div>
    <div ng-click="redirectOptions()" class="menuitem"><img src="Images\settingsicon.png" class="menuIcon" /> Options</div>
    <div ng-click="redirectLogin()" class="menuitem"><img src="../../images/icons/logout.png" class="menuIcon" /> Logout</div>
</div>
<div class="UserPanelContainer">
    <div id="Header"> <center>{{Account.FirstName}} {{Account.LastName}}</center></div>
    <img src="{{Account.ProfilePictureUrl}}" id="panelNamePic">
    <div id="friendCount">You have <br /><b>98 Friends</b></div>
    <div id="onlineStatus">
        Shown as:<img src="Images\dropdownArrow.png" id="dropdownIconOnline">  <br />
        <img src="Images\userOnline.png" id="onlineStatusIcon"><b> Online</b>
    </div>
    <div id="panelInformation">
        <div class="WeatherWidget">
            <center>
                <p>You are currently in <br> <b>Groningen</b></p>
                <img src="Images\weatherSunny.png" id="weatherIcon">

                <p id="Temperature"> 28ºC</p>
            </center>
        </div>
        <div class="notificationsWidget">
            <center>
                <p><b>You have 5 new notifications</b></p>
                <p>3 friends replied to your 'Holiday in Spain' album</p>
                <p>Jan de Woert wants to be your friend</p>
                <p>You have been invited to the event: ''Wedding Party''</p>
            </center>
        </div>
        <div class="feedWidget">
            <center>
                <div class="feedHeader">FEED UPDATES</div>
                <div class="feedupdate"><div class="timestamp">4 minutes ago </div> Arjen Bovee made a new post!<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">8 minutes ago </div>Miguel Grant posted a picture of the White House<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">15 minutes ago </div>Marnick Scholten posted an album called: ''2-weeks at Ibiza''<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">23 minutes ago </div>Wesley de Waart made a new post!<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">45 minutes ago </div>Jan de Woert added a video called: "I created a robot that scratches the dog for you!"<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">51 minutes ago </div>Arjen Bovee added a picture called: "My favourite Hanze teacher"<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">1 hour ago </div>Wesley just made a post!<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
            </center>
        </div>
    </div>
</div>
<!--Map-->
<div id="mapContainer" ng-controller="MapController">
    <div id="Header"><img src="Images\icons\aboutme.png" id="headerIcon"><center>Friends based on location</center></div>

    <div id="map"></div>
    <!--<div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
        <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
            <label id="names">{{marker.title}}</label>
        </a>
    </div>-->
</div>


<!--Friend Requests-->
<div id="friendRequest">
    <div id="requestTitle"><b>Friend Requests</b></div>
    <div class="request">
        <div class="requestPicture"></div>
        <div class="requestName">Name 1</div>
        <div class="requestAccept"></div>
        <div class="requestDecline"></div>
    </div>
    <div class="request">
        <div class="requestPicture"></div>
        <div class="requestName">Name 2</div>
        <div class="requestAccept"></div>
        <div class="requestDecline"></div>
    </div>
    <div class="request">
        <div class="requestPicture"></div>
        <div class="requestName">Name 3</div>
        <div class="requestAccept"></div>
        <div class="requestDecline"></div>
    </div>
    <div class="request">
        <div class="requestPicture"></div>
        <div class="requestName">Name 4</div>
        <div class="requestAccept"></div>
        <div class="requestDecline"></div>
    </div>
    <div class="request">
        <div class="requestPicture"></div>
        <div class="requestName">Name 5</div>
        <div class="requestAccept"></div>
        <div class="requestDecline"></div>
    </div>
</div>
<!-- Friends Bar-->
<div id="friendsTen">
    <div id="topTenTitle"><b>Top Ten Friends</b></div>
    <div id="topTen">
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 1</div>
        </div>
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 2</div>
        </div>
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 3</div>
        </div>
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 4</div>
        </div>
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 5</div>
        </div>
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 6</div>
        </div>
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 7</div>
        </div>
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 8</div>
        </div>
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 9</div>
        </div>
        <div class="topTenFriend">
            <div class="topTenPicture"> <img src="../../images/arjen.jpg" class="topTenImage" /> </div>
            <div class="topTenName">Name 10</div>
        </div>
    </div>
    <a href="">All Friends</a>
</div>

<div id="friendsFour">
    <div class="topFourFriend">
        <div class="topFourPicture"> <img src="../../images/arjen.jpg" class="topFourImage" /> </div>
        <div class="topFourName">Name 1</div>
    </div>
    <div class="topFourFriend">
        <div class="topFourPicture"> <img src="../../images/arjen.jpg" class="topFourImage" /> </div>
        <div class="topFourName">Name 2</div>
    </div>
    <div class="topFourFriend">
        <div class="topFourPicture"> <img src="../../images/arjen.jpg" class="topFourImage" /> </div>
        <div class="topFourName">Name 3</div>
    </div>
    <div class="topFourFriend">
        <div class="topFourPicture"> <img src="../../images/arjen.jpg" class="topFourImage" /> </div>
        <div class="topFourName">Name 4</div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <a style="margin-left:40%;" href="">All Friends</a>
</div>


<div ng-repeat="place in places"> {{ place }} </div>
