
<div class="UserPanelContainer">

    <div id="Header"> <center>{{ProfileInfo.FirstName}} {{ProfileInfo.LastName}}</center></div>
    <img src="{{ProfileInfo.ProfilePictureUrl}}" id="panelNamePic">
    <div id="friendCount">You have <br /><b>98 Friends</b></div>
    <div id="onlineStatus">
        Shown as:<img src="Images\dropdownArrow.png" id="dropdownIconOnline">  <br />
        <img src="Images\userOnline.png" id="onlineStatusIcon"><b> Online</b>
    </div>
    <div id="panelInformation">
        <div class="WeatherWidget">
            <center>
                <img src="Images\weatherSunny.png" id="weatherIcon">
                <p>You are currently in <br> <b>Groningen</b></p>
                <p id="Temperature"> 28ºC</p>
            </center>
        </div>
        <div class="notificationsWidget">
            <center>
                <p><b>You have 5 new notifications</b></p>
                <p>3 friends replied to your 'Holiday in Spain' album</p>
                <p>Jan de Woert wants to be your friend</p>
                <p>You have been invited to the event: ''Wedding Party''</p>
            </center>
        </div>
        <div class="feedWidget">
            <center>
                <div class="feedHeader">FEED UPDATES</div>
                <div class="feedupdate"><div class="timestamp">4 minutes ago </div> Arjen Bovee made a new post!<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">8 minutes ago </div>Miguel Grant posted a picture of the White House<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">15 minutes ago </div>Marnick Scholten posted an album called: ''2-weeks at Ibaza''<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">23 minutes ago </div>Wesley de Waart made a new post!<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">45 minutes ago </div>Jan de Woert added a video called: "I created a robot that scratches the dog for you!"<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">51 minutes ago </div>Arjen Bovee added a picture called: "My favourite Hanze teacher"<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
                <div class="feedupdate"><div class="timestamp">1 hour ago </div>Wesley just made a post!<img src="Images\seenIcon.png" class="seen"><img src="Images\removeIcon.png" class="remove"></div>
            </center>
        </div>
    </div>
</div>
<div id="menu">
    <div ng-click="themeChange()" class="menuitem"> <img id="logoBig" src="Images\logo-minimal.png" class="menuLogo"> <img id="logoSmall" src="../../images/Speech-simple.png" class="menuLogo" /></div>
    <div ng-click="redirectFeed()" class="menuitem"> <img src="Images\feedicon.png" class="menuIcon">Feed</div>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <textarea class="searchBar" placeholder="Search (Names, jobs, gender)"></textarea>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <div ng-click="redirectProfile()" class="menuitem"><img src="Images\profileicon.png" class="menuIcon" />Profile</div>
    <div ng-click="redirectOptions()" class="selectedItem"><img src="Images\settingsicon.png" class="menuIcon" /> Options</div>
    <div ng-click="redirectLogin()" class="menuitem"><img src="../../images/icons/logout.png" class="menuIcon" /> Logout</div>
</div>



<div id="settings">
    <div id="Header"><center>OPTIONS</center></div>
    <div id="settingsLeft">
        <center>
            <div class="menuItem" id="persoonlijk" ng-click="showPersoonlijk()"><img src="Images\personal.png" class="settingIcon"> Personal</div>
            <div class="menuItem" ng-click="showBeveiliging()"><img src="Images\security.png" id="beveiliging" class="settingIcon"> Security</div>
            <div class="menuItem" ng-click="showPrivacy()"><img src="Images\privacy.png" id="privacy" class="settingIcon"> Privacy</div>
            <div class="menuItem" ng-click="showMeldingen()"><img src="Images\notifications.png" id="Meldingen" class="settingIcon"> Notifications</div>
            <div class="menuItem" ng-click="showAbout()"><img src="Images\aboutIcon.png" id="Meldingen" class="settingIcon"> About us</div>
        </center>
    </div>

    <div id="settingsTop">
        <div class="respImageContainer" ng-click="showPersoonlijk()"><img src="Images\personal.png" class="respImage"></div>
            <div class="respImageContainer" ng-click="showBeveiliging()"><img src="Images\security.png" id="beveiliging" class="respImage" /></div>
            <div class="respImageContainer" ng-click="showPrivacy()"><img src="Images\privacy.png" id="privacy" class="respImage"></div>
            <div class="respImageContainer" ng-click="showMeldingen()"><img src="Images\notifications.png" id="Meldingen" class="respImage"></div>
            <div class="respImageContainer" ng-click="showAbout()"><img src="Images\aboutIcon.png" id="Meldingen" class="respImage"></div>
    </div>
    <div id="settingsRight">
        <div class="errorMsgs" style="color:red;" ng-repeat="wrongChange in wrongChanges"> {{ wrongChange }} </div>
        <div class="errorMsgs" style="color:green;" ng-repeat="goodChange in goodChanges"> {{ goodChange }} </div>
        <div ng-show="Persoonlijk">
            <br /><b>PERSONAL SETTINGS:</b>
            <br />
            <br />
            <div class="optionName">
                <img src="Images\icons\profilepic.png" class="settingRightIcon"> Profile picture
                <input type="file" name="newProfilePic" id="newProfilePic" ngf-select="uploadFiles($file, $invalidFiles)" ng-model="ProfileInfo.NewPic" accept="image/*">
                <label class="profileOption" for="newProfilePic">Select new Profile picture</label>
            </div>

            <div class="optionName"><img src="Images\icons\name.png" class="settingRightIcon"> First name <input class="optionValue" name="firstName" ng-model="ProfileInfo.FirstName"></div>
            <div class="optionName"><img src="Images\icons\name.png" class="settingRightIcon"> Last name <input class="optionValue" ng-model="ProfileInfo.LastName"></div>
            <div class="optionName"><img src="Images\icons\birthday.png" class="settingRightIcon"> Date of birth <input type="date" id="optionDate" value="{{ProfileInfo.BirthDate | date:'yyyy-MM-dd'}}" ng-model="ProfileInfo.BirthDate" /></div><br />

            <br />
            <div class="dividerLine"></div>
            <br />
            <b> ABOUT ME:</b>
            <br />
            <br />
            <div class="optionName"><img src="Images\icons\jobicon.png" class="settingRightIcon"> Work <input class="optionValue" ng-model="ProfileInfo.Work"></div>
            <div class="optionName"><img src="Images\icons\schoolicon.png" class="settingRightIcon"> Study <input class="optionValue" ng-model="ProfileInfo.School"></div>
            <div class="optionName"><img src="Images\icons\homeicon.png" class="settingRightIcon"> Place <input class="optionValue" ng-model="ProfileInfo.Hometown"></div>

            <div class="optionName">
                <img src="Images\icons\relationshipicon.png" class="settingRightIcon">
                Relation <select class="optionValue" ng-model="ProfileInfo.Relation">
                    <option>bachelor</option>
                    <option>In a relationship</option>
                    <option>Engaged</option>
                    <option>Married</option>
                    <option>It's Complicated</option>
                    <option>Widow</option>
                </select>
            </div>
            <div class="optionName">
                <img src="Images\icons\gendericon.png" class="settingRightIcon">
                Gender <select class="optionValue" ng-model="ProfileInfo.Gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="optionName"><img src="Images\icons\hobbies.png" class="settingRightIcon" />  Hobbies <input class="optionValue" ng-model="ProfileInfo.Hobby"></div>
            <div class="optionName"><img src="Images\icons\motto.png" class="settingRightIcon" />  Motto <input class="optionValueLong" ng-model="ProfileInfo.Motto"></div>
            <div class="optionName"><img src="../../images/aboutIcon.png" class="settingRightIcon" /> About Me <input class="optionValueLong" ng-model="ProfileInfo.AboutMe"></div>

            <div class="applybutton">
                <table class="buttonWrapper" id="table1">
                    <tr class="none">
                        <td class="none">
                            <div class="optionApplyButton" ng-click="UpdateProfile()"><button>Apply</button></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-show="Beveiliging">

            <br /><b>CHANGE PASSWORD</b>            <br />
            <br />
            <div class="optionName"><img src="Images\icons\passwordcurr.png" class="settingRightIcon"> Current password <input type="password" class="optionValue" placeholder="Current password" ng-model="CurrentPassword"></div>
            <div class="optionName"><img src="Images\icons\passwordNew1.png" class="settingRightIcon"> New password<input type="password" class="optionValue" placeholder="New password" ng-model="NewPassword"></div>
            <div class="optionName"><img src="Images\icons\passwordNew2.png" class="settingRightIcon"> New password again<input type="password" class="optionValue" placeholder="New password again" ng-model="NewPasswordAgain"></div>
            <div class="applybutton">
                <table class="buttonWrapper" id="table1">
                    <tr class="none">
                        <td class="none">
                            <div class="optionApplyButton" ng-click="UpdatePassword()"><button>Apply</button></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <div ng-show="Privacy">
            <b>Privacy</b><br /><br />
            <div class="dividerLine"></div>
            <b>My Activity</b><br />
            <div class="optionName">
                Who can see my messages?
                <select class="optionValue">
                    <option selected="selected" value="Everyone">Everyone</option>
                    <option value="Friends">Only friends</option>
                </select>
            </div>
            <div class="dividerLine"></div>
            <b>Who can find me?</b><br />
            <div class="optionName">
                Who can send me friend requests?
                <select class="optionValue">
                    <option selected="selected" value="Everyone">Everyone</option>
                    <option value="Friends of Friends">Only friends of friends</option>
                </select>
            </div>
            <div class="optionName">
                Who can see my friend list?
                <select class="optionValue">
                    <option selected="selected" value="Everyone">Everyone</option>
                    <option value="Friends">Only friends</option>
                    <option value="Friends of Friends">Friends of Friends</option>
                </select>
            </div>
            <div class="optionName">
                Who can tag me?
                <select class="optionValue">
                    <option selected="selected" value="Everyone">Everyone</option>
                    <option value="Only Friends">Only Friends</option>
                    <option value="Friends of Friends">Friends of friends</option>
                </select>
            </div>
            <div class="applybutton">
                <table class="buttonWrapper" id="table1">
                    <tr class="none">
                        <td class="none">
                            <div class="optionApplyButton" ng-click="UpdatePassword()"><button>Apply</button></div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div ng-show="Meldingen">
            <b>Meldingen</b><br /><br />
            <div class="dividerLine"></div>
            <div class="optionName">
                Activity's involving me
                <select class="optionValue">
                    <option selected="selected" value="Aan">Aan</option>
                    <option value="Uit">Uit</option>
                </select>
            </div>
            <div class="optionName">
                birthdays
                <select class="optionValue">
                    <option selected="selected" value="Aan">Aan</option>
                    <option value="Uit">Uit</option>
                </select>
            </div>
            <div class="optionName">
                Tags
                <select class="optionValue">
                    <option selected="selected" value="Aan">Aan</option>
                    <option value="Uit">Uit</option>
                </select>
            </div>

        </div>

        <div class"="about" ng-show="About">
            <img src="Images\hanze.jpg" class="hanze">
            <img src="Images\speech.png" class="aboutLogo">
            <div class="versionNumberAbout">
                VERSION 0.1
                <div class="descriptionAbout">
                    Developed by Wij Deugen<br />
                    2018

                </div>
            </div>
        </div>
    </div>
</div>

