<div id="menu">
    <div ng-click="redirectFeed()" class="menuitem"> <img src="Images\speech.png" class="menuLogo"></div>
    <div ng-click="redirectFeed()" class="selectedItem">Feed</div>
    <div ng-click="redirectProfile()" class="menuitem">Profile</div>
    <div ng-click="redirectOptions()" class="menuitem">Options</div>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <div ng-click="redirectLogin()" class="menuitem">Logout</div>
</div>

<div id="profilePic"> foto hier</div>
<div id="settings"> Privacy hier</div>
