<body class="profile">
    <div id="menu">
        <div ng-click="themeChange()" class="menuitem"> <img id="logoBig" src="Images\logo-minimal.png" class="menuLogo"> <img id="logoSmall" src="../../images/Speech-simple.png" class="menuLogo" /></div>
        <div ng-click="redirectFeed()" class="menuitem"> <img src="Images\feedicon.png" class="menuIcon">Feed</div>
        <div ng-click="redirectOptions()" class="menufiller"></div>
        <textarea class="searchBar" placeholder="Search (Names, jobs, gender)"></textarea>
        <div ng-click="redirectOptions()" class="menufiller"></div>
        <div ng-click="redirectProfile()" class="selectedItem"><img src="Images\profileicon.png" class="menuIcon" />Profile</div>
        <div ng-click="redirectOptions()" class="menuitem"><img src="Images\settingsicon.png" class="menuIcon" /> Options</div>
        <div ng-click="redirectLogin()" class="menuitem"><img src="../../images/icons/logout.png" class="menuIcon" /> Logout</div>
    </div>

    <div class="background"><img src="Images\customwallpaper.jpg" class="customWallpaper" /></div>

    <div id="profileContentContainer">
        <div class="profileWrapper">
            <!-- Own Profile -->
            <div class="profileSpot">
                <img src="{{ProfileInfo.ProfilePictureUrl}}" class="SquareProfilePic">
            </div>
            <div class="userNameProfile">{{ProfileInfo.FirstName}} {{ProfileInfo.LastName}}</div>
            <div class="profileTabs">
                <div class="profiletab" ng-click="showProfilePosts()">POSTS</div>
                <div class="profiletab" ng-click="showProfilePhotos()">PHOTO'S</div>
                <div class="profiletab" ng-click="showProfileNotes()">FRIENDS</div>
                <div class="profiletab" ng-click="showProfileAbout()">ABOUT ME</div>
            </div>
        </div>
        <div id="gotPosts-profile" ng-show="profilePosts">
            <div class="postcontainer-profile" ng-repeat="item in Feed track by $index">
                <img src="{{item.Creator.ProfilePictureUrl}}" class="user"><br /><p class="username">{{item.Creator.FirstName}} {{item.Creator.LastName}} </p>
                <div class="post">
                    <p class="posttext">
                        {{item.Feed.Text}}
                    </p>
                    <div class="postFooter">
                        <button class=" postFooterButton"><img src="Images\respect.png" class="postFooterImages"></button>
                        <button class=" postFooterButton"><img src="Images\comment.png" class="postFooterImages"></button>
                        <button class=" postFooterButton"><img src="Images\share.png" class="postFooterImages"></button>
                        <p class=" postFooterRespectCount">| {{item.Feed.Respect}} Respect!</p>
                    </div>
                </div>
                <div class="comment-Container" ng-repeat="comment in item.Comments">

                    <div class="profileName"> {{comment.FirstName}} {{comment.LastName}}</div>
                    <div class="commentText"> {{comment.CommentText}} </div>
                    <img src="{{comment.ProfilePicUrl}}" class="commentuser">
                </div>
                <div class="placecomment-containter ">
                    <textarea class="commentArea" placeholder="Enter your comment here" ng-model="NewComment[$index]"></textarea>
                    <br />
                    <button ng-click="PostComment(item.Feed.Id, $index)"><img src="Images\sendicon.png" class="postIcon">&nbsp; Post comment</button>
                </div>
            </div>
        </div>
        <div id="gotPosts-profile" ng-show="profilePhotos">
            <div class="postcontainer-profile">
                Geplaatste foto's hier laten zien
            </div>
        </div>

        <div id="gotPosts-profile" ng-show="profileNotes">
            <div class="postcontainer-profile">

                <div id="Header"><img src="Images\icons\network.png" id="headerIcon"><center>Friends</center></div>
                <div ng-click="redirectFriends()" style="text-align:center; border-bottom:1px solid black;">Show your friends hometowns</div>
                <div class="profileFriends">
                    <div id="profileHead"> <img id="profileHeadPic" src="{{ProfileInfo.ProfilePictureUrl}}" /> </div>
                    <div id="profileName">{{ProfileInfo.FirstName}} {{ProfileInfo.LastName}}</div>
                </div>
                <div class="profileFriends">
                    <div id="profileHead"> <img id="profileHeadPic" src="../../images/wesley.jpg" /> </div>
                    <div id="profileName">Wesley de Waart</div>
                </div>
                <div class="profileFriends">
                    <div id="profileHead"> <img id="profileHeadPic" src="../../images/arjen.jpg" /> </div>
                    <div id="profileName">Arjen Bovee</div>
                </div>
                <div class="profileFriends">
                    <div id="profileHead"> <img id="profileHeadPic" src="../../images/BarackObama.jpg" /> </div>
                    <div id="profileName">Miguel Grant</div>
                </div>
                
                <!--
    foreach friend{
        <div class="friendThumbnail">
            Profile picture
            Naam
        </div>
    }
    -->
            </div>
        </div>

        <div id="gotPosts-profile" ng-show="profileAbout">
            <div class="postcontainer-profile">
                <ul id="userInfoItem">
                    
                    <li class="description"><img src="Images\aboutIcon.png" class="profileInfoIcon" /> {{ProfileInfo.AboutMe}}</li>
                    <li class="description"><img src="Images\icons\jobicon.png" class="profileInfoIcon">Works at <b>{{ProfileInfo.Work}}</b> </li>
                    <li class="description"><img src="Images\icons\schoolicon.png" class="profileInfoIcon">Studys <b>{{ProfileInfo.School}}</b> </li>
                    <li class="description"><img src="Images\icons\homeicon.png" class="profileInfoIcon">Lives in <b>{{ProfileInfo.Hometown}}</b> </li>
                    <li class="description"><img src="Images\icons\relationshipIcon.png" class="profileInfoIcon"><b>{{ProfileInfo.Relation}}</b> </li>
                    <li class="description"><img src="Images\icons\genderIcon.png" class="profileInfoIcon"><b>{{ProfileInfo.Gender}}</b> </li>
                    <li class="description"><img src="Images\icons\birthday.png" class="profileInfoIcon" />Born at <b>{{ProfileInfo.BirthDate | date:'dd-MM-yyyy'}}</b></li>
                    <li class="description"><img src="Images\icons\memberIcon.png" class="profileInfoIcon">Member since <b>{{ProfileInfo.MemberSince | date:'dd-M-yyyy'}}</b> </li>
                </ul>

            </div>
        </div>

        
        <!--Links-->
        <div class="infoBoxes-left">
            <div id="infoContainer">
                <div id="Header"><img src="Images\icons\aboutme.png" id="headerIcon"><center>ABOUT ME</center></div>
                <div class="motto">{{ProfileInfo.Motto}}</div>
                <ul id="userInfoItem">
                    <li class="description"><img src="Images\icons\jobicon.png" class="profileInfoIcon">Works at <b>{{ProfileInfo.Work}}</b> </li>
                    <li class="description"><img src="Images\icons\schoolicon.png" class="profileInfoIcon">Studys <b>{{ProfileInfo.School}}</b> </li>
                    <li class="description"><img src="Images\icons\homeicon.png" class="profileInfoIcon">Lives in <b>{{ProfileInfo.Hometown}}</b> </li>
                    <li class="description"><img src="Images\icons\relationshipIcon.png" class="profileInfoIcon"><b>{{ProfileInfo.Relation}}</b> </li>
                    <li class="description"><img src="Images\icons\genderIcon.png" class="profileInfoIcon"><b>{{ProfileInfo.Gender}}</b> </li>
                    <li class="description"><img src="Images\icons\birthday.png" class="profileInfoIcon" />Born at <b>{{ProfileInfo.BirthDate | date:'dd-MM-yyyy'}}</b></li>
                    <li class="description"><img src="Images\icons\memberIcon.png" class="profileInfoIcon">Member since <b>{{ProfileInfo.MemberSince | date:'dd-M-yyyy'}}</b> </li>
                </ul>
            </div>
            <div id="infoContainer">
                <div id="Header"><img src="Images\icons\network.png" id="headerIcon"><center>NETWORK</center></div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div ng-click="redirectFriends()" class="friendThumbnail">Show more friends</div>
            </div>
        </div>


        <!--Rechts-->
        <div class="infoBoxes-right">
            <div id="infoContainer">
                <div id="Header"><img src="Images\icons\blog.png" id="headerIcon"><center>BLOGS</center></div>
                <div class="blogItem">Gedicht: Waarom heb je mij verlaten?</div>
                <div class="blogItem">Mijn eerste (en hopelijk laatste!) dag op het Hanze</div>
                <div class="blogItem">Hoe ik aan die enorme anuspijn van vanmiddag ben gekomen</div>
                <div class="blogItem">Vandaag werd Ahmed boos in de klas!!</div>
            </div>
            <div id="infoContainer">
                <div id="Header"><img src="Images\icons\photos.png" id="headerIcon"><center>RECENT PHOTO'S</center></div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
            </div>
        </div>
    </div>
</body>
