<div id="menu">
    <div ng-click="redirectFeed()" class="menuitem">Logo</div>
    <div ng-click="redirectFeed()" class="menuitem">Feed</div>
    <div ng-click="redirectProfile()" class="menuitem">Profile</div>
    <div ng-click="redirectOptions()" class="menuitem">Options</div>
    <div ng-click="redirectPrivacy()" class="menuitem">Privacy</div>
    <div class="menuitem">Notifications</div>
    <div class="menuitem">Friend Requests</div>
    <div ng-click="redirectLogout()" class="menuitem">Logout</div>
</div>

<div id="userInfo">
    Werk: <br>
    School: <br>
    Woonplaats: <br>
    Relatiestatus: <br>
    Geslacht: <br>
    Lid sinds: <br>
</div>

<div id="postBar">
    <div id="photo">Foto</div>
    <div class="postItem">Posts</div>
    <div class="postItem">Media</div>
    <div class="postItem">Notities</div>
    <div class="postItem">Over Mij</div>
</div>

<div id="posts">
    Posts
</div>
