<div id="menu">
    <div ng-click="redirectFeed()" class="menuitem"> <img src="Images\speech.png" class="menuLogo"></div>
    <div ng-click="redirectFeed()" class="menuitem"> <img src="Images\feedicon.png" class="menuIcon">Feed</div>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <textarea class="searchBar" placeholder="Wat zoek u"></textarea>
    <div ng-click="redirectOptions()" class="menufiller"></div>
    <div ng-click="redirectProfile()" class="selectedItem"><img src="Images\profileicon.png" class="menuIcon" />Profile</div>
    <div ng-click="redirectOptions()" class="menuitem"><img src="Images\settingsicon.png" class="menuIcon" /> Options</div>
    <div ng-click="redirectLogin()" class="menuitem">Logout</div>
</div>

<div id="userInfo">
    <ul id="userInfoItem">
        <li>Werk: </li>
        <li>School: </li>
        <li>Woonplaats: </li>
        <li>Relatiestatus: </li>
        <li>Geslacht: </li>
        <li>Lid sinds: </li>
    </ul>
</div>

<div id="postBar">
    <div id="photo">Foto</div>
    <div class="postItem" ng-click="changeView('posts')">Posts</div>
    <div class="postItem" ng-click="changeView('media')">Media</div>
    <div class="postItem" ng-click="changeView('notities')">Notities</div>
    <div class="postItem" ng-click="changeView('over mij')">Over Mij</div>
</div>

<div id="posts">
    <div ng-show="showPosts">{{content}}</div>
    <div ng-show="showMedia">{{content}}</div>
    <div ng-show="showNotities">{{content}}</div>
    <div ng-show="showOverMij">{{content}}</div>
</div>
<!--<div id="posts">
    Posts
</div>-->
