<body class="profile">
    <div id="menu">
        <div ng-click="themeChange()" class="menuitem"> <img src="Images\speech.png" class="menuLogo"></div>
        <div ng-click="redirectFeed()" class="menuitem"> <img src="Images\feedicon.png" class="menuIcon">Feed</div>
        <div ng-click="redirectOptions()" class="menufiller"></div>
        <textarea class="searchBar" placeholder="Wat zoek u"></textarea>
        <div ng-click="redirectOptions()" class="menufiller"></div>
        <div ng-click="redirectProfile()" class="selectedItem"><img src="Images\profileicon.png" class="menuIcon" />Profile</div>
        <div ng-click="redirectOptions()" class="menuitem"><img src="Images\settingsicon.png" class="menuIcon" /> Options</div>
        <div ng-click="redirectLogin()" class="menuitem">Logout</div>
    </div>


    <div class="background"><img src="Images\customwallpaper.jpg" class="customWallpaper" /></div>
    <div id="profileContentContainer">
        <div id="gotPosts-profile">
            <div class="profileWrapper">
                <div class="profileSpot">
                    <img src="Images\wesley.jpg" class="SquareProfilePic">
                </div>
                <div class="userNameProfile">Wesley de Waart</div>
                <div class="profileTabs">
                    <div class="profiletab">POSTS</div>
                    <div class="profiletab">PHOTO'S</div>
                    <div class="profiletab">NOTES</div>
                    <div class="profiletab">ABOUT ME</div>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <div class="postcontainer-profile">

                <div class="user" ng-click="redirectProfile()"><br /></div>
                <br /><p class="username">Wesley de Waart - 2 days ago </p>
                <div class="reporterTool"><SPAN>...</SPAN></div>

                <div class="post">
                    <p class="posttext">
                        Weet iemand waar ik de Solicitatie opdracht kan vinden??
                    </p>
                    <div class="postFooter">
                        <button class=" postFooterButton"><img src="Images\respect.png" class="postFooterImages"></button>
                        <button class=" postFooterButton"><img src="Images\comment.png" class="postFooterImages"></button>
                        <button class=" postFooterButton"><img src="Images\share.png" class="postFooterImages"></button>
                        <p class=" postFooterRespectCount">| 5 mensen gaven Respect!</p>

                    </div>
                </div>
                <div class="comment-Container">
                    <!-- COMMENT -->
                    <div class="profileName"> Marnick Scholten</div>

                    <div class="commentText"> Nee.</div>
                    <img src="Images\marnick.jpg" class="commentuser">
                </div>
            </div>
            <div class="postcontainer-profile">

                <div class="user" ng-click="redirectProfile()"><br /></div>
                <br /><p class="username">Wesley de Waart - 2 days ago </p>
                <div class="reporterTool"><SPAN>...</SPAN></div>

                <div class="post">
                    <p class="posttext">
                        1 respect = 1 prayer voor een Hanze student
                    </p>
                    <div class="postFooter">
                        <button class=" postFooterButton"><img src="Images\respect.png" class="postFooterImages"></button>
                        <button class=" postFooterButton"><img src="Images\comment.png" class="postFooterImages"></button>
                        <button class=" postFooterButton"><img src="Images\share.png" class="postFooterImages"></button>
                        <p class=" postFooterRespectCount">| 50.2k mensen gaven Respect!</p>

                    </div>
                </div>
                <div class="comment-Container">
                    <!-- COMMENT -->
                    <div class="profileName"> Marnick Scholten</div>

                    <div class="commentText"> Nee.</div>
                    <img src="Images\marnick.jpg" class="commentuser">
                </div>
            </div>
            <div class="postcontainer-profile">

                <div class="user" ng-click="redirectProfile()"><br /></div>
                <br /><p class="username">Wesley de Waart - 3 days ago </p>
                <div class="reporterTool"><SPAN>...</SPAN></div>

                <div class="post">
                    <p class="posttext">
                        KFC!!!!!!!!
                    </p>
                    <div class="postFooter">
                        <button class=" postFooterButton"><img src="Images\respect.png" class="postFooterImages"></button>
                        <button class=" postFooterButton"><img src="Images\comment.png" class="postFooterImages"></button>
                        <button class=" postFooterButton"><img src="Images\share.png" class="postFooterImages"></button>
                        <p class=" postFooterRespectCount">| 1 persoon gaf Respect!</p>

                    </div>
                </div>
                <div class="comment-Container">
                    <!-- COMMENT -->
                    <div class="profileName"> Marnick Scholten</div>

                    <div class="commentText"> Nee.</div>
                    <img src="Images\marnick.jpg" class="commentuser">
                </div>
            </div>
        </div>
        <div class="infoBoxes-left">
            <div id="infoContainer">
                <div id="Header"><img src="Images\icons\aboutme.png" id="headerIcon"><center>ABOUT ME</center></div>
                <div class="motto">You can get me out of the KFC. But you can't get KFC out of me.</div>
                <ul id="userInfoItem">
                    <div class="description"><img src="Images\icons\jobicon.png" class="profileInfoIcon"></img>Eigenaar van <b>!Speech</b> </div>
                    <div class="description"><img src="Images\icons\schoolicon.png" class="profileInfoIcon"></img>Heeft gestudeerd aan <b>de Hanzehogeschool</b> </div>
                    <div class="description"><img src="Images\icons\homeicon.png" class="profileInfoIcon"></img>Woont in <b>Hoogeveen</b> </div>
                    <div class="description"><img src="Images\icons\relationshipIcon.png" class="profileInfoIcon"></img>Vrijgezel</b> </div>
                    <div class="description"><img src="Images\icons\genderIcon.png" class="profileInfoIcon"></img>Man</b> </div>
                    <div class="description"><img src="Images\icons\memberIcon.png" class="profileInfoIcon"></img>Member since <b>02/05/2018</b> </div>
                </ul>
            </div>

            <div id="infoContainer">
                <div id="Header"><img src="Images\icons\network.png" id="headerIcon"><center>NETWORK</center></div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
                <div class="friendThumbnail">HOOFD</div>
            </div>


        </div>
        <div class="infoBoxes-right">
            <div id="infoContainer">
                <div id="Header"><img src="Images\icons\blog.png" id="headerIcon"><center>BLOGS</center></div>
                <div class="blogItem">Gedicht: Waarom heb je mij verlaten?</div>
                <div class="blogItem">Mijn eerste (en hopelijk laatste!) dag op het Hanze</div>
                <div class="blogItem">Hoe ik aan die enorme anuspijn van vanmiddag ben gekomen</div>
                <div class="blogItem">Vandaag werd Ahmed boos in de klas!!</div>
            </div>


            <div id="infoContainer">
                <div id="Header"><img src="Images\icons\photos.png" id="headerIcon"><center>RECENT PHOTO'S</center></div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
                <div class="pictureThumbnail">Dit is een foto!</div>
            </div>
        </div>
    </div>
