    
<form class="login-form">
    <center><img src="Images\lockicon.png"></center>
    <p class="login-text">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
    </span>
              
    </p>
             
    <input type="UserID" class="login-username" autofocus="true" required="true" placeholder="First Name" />
    <input type="text" class="login-password" required="true" placeholder="Last Name" />
    <input type="text" class="login-password" required="true" placeholder="Gender" />
    <input type="email" class="login-password" required="true" placeholder="Email Address" />
    <input type="date" class="login-password" required="true" placeholder="Date of birth" />
    <input type="password" class="login-password" required="true" placeholder="Password" />
    <input type="password" class="login-password" required="true" placeholder="Password again" />
    <input type="submit" name="Register" value="Register" class="login-submit" />
		
    <div ng-click="redirectLogin()" class="login-forgot-pass">Login</div>
</form>
<div class="underlay-photo"></div>
<div class="underlay-black"></div> 
<img class="hanzelogo" src="Images/hanzelogo.png">
