.div {
    font-family: " Segoe-UI";
    font-size: 23px;
}

.underlay-photo {
    background-image: url("../images/bg-login.jpg");
    background-size: cover;
    -webkit-filter: grayscale(20%);
    z-index: -1;
    animation: fadein 2s;
}

.blackFilter {
    background: rgba(0,0,0,0.7);
}

#createPost {
    position: absolute;
    width: 1000px;
    height: 100px;
    border: 1px solid black;
    float: left;
    margin-top: 2%;
    background-color: #919191;
    margin-left: 0%;
}

.createposttext {
    padding-left: 20px;
}

#buttons {
    position: absolute;
    margin-left: 100%;
}

#postText{
	width: 95%;
	margin-left:2%;
	height: 50px;
}

#buttons {
	margin-left: 1%;
}

#logotopbar {
    background-color: white;
    color: black;
}

#Header {
    background-color: #3851d7;
    font-size: 25px;
    color: white
}

::-webkit-scrollbar {
    display: none;
}

#gotPosts {
    position: absolute;
    width: 65%;
    height: 70%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow-x: hidden;
    top: 110px;
    left: 600px;
    padding-bottom: 300px;
}

.postedphoto {
    position: relative;
    height: 200px;
    border: 1px solid black;
}

.postcontainer {
    position: relative;
    margin-bottom: 1%;
    background-color: #d7dde5;
    padding-bottom: 50px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #999aa3;
    width: 1000px;
    left: 0px;
}

.placecomment-containter {
    z-index: 1;
    position: relative;
    font-size: 22px;
    width: 50%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: #e5e7ea;
    border-color: #a8b9c1;
    min-height: 55px;
    margin-left: 7%;
    //margin-top: -1%;
}

.commentArea {
    position: absolute;
    width: 80%;
    left: 9%;
}

.comment-Container {
    z-index: 1;
    position: relative;
    font-size: 22px;
    width: 50%;
    border: 1px solid black;
    background-color: #e5e7ea;
    padding-right: 60px;
    border-color: #f2f4f7;
    border-radius: 5px;
    min-height: 85px;
    margin-left: 7%;
    margin-top: -1%;
}

.post {
    z-index: 3;
    position: relative;
    padding-bottom: 4%;
    border: 1px solid black;
    background-color: #edeff2;
    border-radius: 10px;
    border-color: #b7d8ff;
    color: black;
    min-height: 10%;
    left: 50px;
    margin-top: 50px;
    height: auto;
    width: 90%;
}

.user {
    z-index: 5;
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 1%;
    float: left;
    margin-left: 2%;
    border: 2px solid white;
    border-color: #a8b9c1;
    background-color: white;
}

.commentuser {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 0%;
    top: 15%;
    float: left;
    color: white;
    margin-left: 1%;
    border: 2px solid white;
    border-color: #a8b9c1;
    background-color: #a8b9c1;
}

.commentText {
    position: absolute;
    left: 65px;
    top: 45%;
    font-size: 13px;
}

.profileName {
    position: absolute;
    left: 45px;
    top: 23%;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    background-color: #3851d7;
}

.username {
    position: absolute;
    width: auto;
    margin-top: 4px;
    border-radius: 10px;
    padding: 1%;
    padding-left: 3%;
    left: 100px;
    color: white;
    font-size: 22px;
    background-color: #3851d7;
}

/*.posttext {
    position: relative;
    word-wrap: break-word;
    top: 10px;
    left: 2px;
}*/

.posttext {
    position: relative;
    margin-left: 80px;
    margin-top: 1%;
}

.postFooter {
    z-index: 2;
    position: absolute;
    height: 30px;
    width: 100%;
    margin-top: 1%;
    margin-left: 5%;
    visibility: visible;
}

post.hover ~.postFooter {
    visibility: visible;
}
.postFooter.hover {
     visibility: visible;
}

.postFooterImages {
    height: 25px;
}

.underlay-photo {
    background-image: url("../images/bg-loginf.jpg");
    background-size: cover;
}

/*/ USERPANEL */

#friendCount {
    position: absolute;
    left: 75px;
    top: 90px;
    font-size: 15px;
    text-align: right;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 20px;
    color: white;
    background-color: #3851d7;
}

#onlineStatus {
    position: absolute;
    text-align: left;
    left: 230px;
    top: 90px;
    width: 90px;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    background-color: #3851d7;
}

#onlineStatusIcon {
    height: 10%;
    width: 10%;
}

#dropdownIconOnline {
    z-index: 10;
    position: absolute;
    top: 18px;
    left: 120px;
    height: 40%;
    width: 10%;
}

.UserPanelContainer {
    position: absolute;
    background-color: #d7dde5;
    border-radius: 5px;
    border-style: solid;
    border-color: #999aa3;
    left: 90px;
    top: 130px;
    width: 450px;
    height: 500px;
}

#panelName {
    z-index: 1;
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    width: 50%;
    float: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    top: 129px;
    color: white;
    font-size: 20px;
    background-color: #3851d7;
}

#panelNamePic {
    z-index: 2;
    display: block;
    margin: 0px auto;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 35px;
    float: left;
    border: 2px solid white;
    border-color: #a8b9c1;
    background-color: white;
}

#panelInformation {
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    top: 155px;
    width: 90%;
    border-color: #a8b9c1;
    border-radius: 10px;
    border-style: solid;
    height: 50%;
    background-color: #c0c2c4;
}

.notifications {
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: #e3eaf7;
    border-radius: 5px;
    border-color: #999aa3;
    margin-top: 75px;
    width: 97%;
}

.Weather {
    position: absolute
    margin: 0px auto;
    left: 0;
    right: 0;
}

.Weather p {
    position: relative;
    text-align: left;
    margin-left: 110px;
    color: black;
}


#weatherIcon {
    position: absolute;
    left: 5%;
    height: 35%;
    widht: 35%;
}

#Temperature {
    position: absolute;
    top: 0px;
    color: black;
    text-align: left;
    font-size: 50px;
}

.notifications p {
    color: red;
    width: 90%;
    border-bottom-style: solid;
    border-color: #b1b7bf;
    border-radius: 1px;
}

