.div {
    font-family: " Segoe-UI";
    font-size: 23px;
}

.underlay-photo {
    background-image: url("../images/bg-login.jpg");
    background-size: cover;
    -webkit-filter: grayscale(20%);
    z-index: -1;
    animation: fadein 2s;
}

.blackFilter {
    background: rgba(0,0,0,0.7);
}

#createPost {
    position: absolute;
    width: 1000px;
    padding-top: 20px;
    height: 120px;
    border: 1px solid black;
    float: left;
    margin-top: 2%;
    border-color: #999aa3;
    border-width: 2px;
    background-color: #d7dde5;
    margin-left: 0%;
    border-radius: 3px;
}

.CreatePostButton {
    border-radius: 25px;
    background-color: #edeff2;
    border-color: #edeff2;
    margin-left: 10px;
}

.postIcon {
    position: relative;
    height: 20px;
    width: 20px;
    float: left;
    border-color: #edeff2
}

.createposttext {
    padding-left: 20px;
}


#postText{
	width: 95%;
	margin-left:2%;
	height: 50px;
}

#buttons {
    margin-left: 1%;
    border-radius: 25px;
    color: white;
}

#logotopbar {
    background-color: white;
    color: black;
}

#Header {
    background-color: #3851d7;
    font-size: 25px;
    color: white
}

::-webkit-scrollbar {
    display: none;
}

#gotPosts {
    position: absolute;
    width: 65%;
    height: 70%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow-x: hidden;
    top: 110px;
    left: 600px;
    padding-bottom: 300px;
}


.postedphoto {
    float: right;
    margin-top: 2%;
    margin-right: 37%;
    height: 300px;
    border: 1px solid black;
}

.postcontainer {
    transition: 0.2s;
    position: relative;
    margin-bottom: 1%;
    background-color: #d7dde5;
    padding-bottom: 10px;
    border-radius: 6px;
    border-width: 2px;
    border-color: #999aa3;
    border-left: solid;
    border-left-width: 10px;
    border-left-color: #354fd7;
    border-style: solid;
    width: 1000px;
    left: 0px;
}

.placecomment-containter {
    z-index: 1;
    position: relative;
    font-size: 22px;
    width: 50%;
    border-color: #a8b9c1;
    min-height: 55px;
    margin-left: 7%;
    //margin-top: -1%;
}

.commentArea {
    position: absolute;
    width: 80%;
    left: 0px;
}

.comment-Container {
    transition: 0.2s;
    z-index: 1;
    position: relative;
    font-size: 22px;
    width: 50%;
    border: 1px solid black;
    background-color: #e5e7ea;
    padding-right: 20px;
    border: 1px solid black;
    background-color: #f9f9f9;
    border-radius: 6px;
    border-color: #999aa3;
    border-left-style: solid;
    border-left-color: #a8b9c1;
    border-left-width: 10px;
    min-height: 65px;
    margin-left: 6%;
    margin-top: 0.6%;
}

    .comment-Container:hover {
        transition: 0.2s;
        border-left-style: solid;
        border-left-color: #354fd7;
        border-left-width: 10px;
    }

.post {
    z-index: 3;
    position: relative;
    padding-bottom: 4%;
    border: 1px solid black;
    background-color: #edeff2;
    border-radius: 10px;
    border-color: #999aa3;;
    color: black;
    min-height: 10%;
    left: 50px;
    margin-top: 50px;
    min-height: 50px;
    width: 90%;
}

.postphoto {
    z-index: 3;
    position: relative;
    padding-bottom: 4%;
    border: 1px solid black;
    background-color: #edeff2;
    border-radius: 10px;
    border-color: #999aa3;;
    color: black;
    min-height: 10%;
    left: 50px;
    margin-top: 50px;
    min-height: 350px;
    width: 70%;
}

.user {
    z-index: 5;
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 1%;
    float: left;
    margin-left: 2%;
    border: 3px solid white;
    border-color: #3851d7;
    background-color: white;
}

.commentuser {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 0%;
    top: 4%;
    float: left;
    color: white;
    margin-left: 1%;
    border: 2px solid white;
    border-color: #a8b9c1;
    background-color: #a8b9c1;
}

.commentText {
    position: absolute;
    left: 65px;
    top: 40%;
    font-size: 13px;
}

.profileName {
    position: absolute;
    left: 45px;
    top: 13%;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    background-color: #253691;
}

.username {
    position: absolute;
    width: auto;
    margin-top: 4px;
    border-radius: 10px;
    padding: 1%;
    padding-left: 3%;
    left: 100px;
    color: white;
    font-size: 22px;
    background-color: #3851d7;
}

/*.posttext {
    position: relative;
    word-wrap: break-word;
    top: 10px;
    left: 2px;
}*/

.posttext {
    position: relative;
    margin-left: 80px;
    margin-top: 1%;
}

.postFooter {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin-left: 2%;
    bottom: 10px;
    visibility: visible;
}

.postFooterRespectCount {
    position: absolute;
    top: 3px;
    left: 120px;
    color: #4f4f4f;
}

post.hover ~.postFooter {
    visibility: visible;
}
.postFooter.hover {
     visibility: visible;
}

.postFooterImages {
    height: 20px;
    width: 20px;
}

.postFooterButton {
    height: 30px;
}

.underlay-photo {
    background-image: url("../images/bg-loginf.jpg");
    background-size: cover;
}

/*/ USERPANEL */

#friendCount {
    position: absolute;
    left: 75px;
    top: 90px;
    font-size: 15px;
    text-align: right;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 20px;
    color: white;
    background-color: #3851d7;
}

#onlineStatus {
    position: absolute;
    text-align: left;
    left: 230px;
    top: 90px;
    width: 90px;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    background-color: #3851d7;
}

#onlineStatusIcon {
    height: 10%;
    width: 10%;
}

#dropdownIconOnline {
    z-index: 10;
    position: absolute;
    top: 18px;
    left: 120px;
    height: 40%;
    width: 10%;
}

.UserPanelContainer {
    position: absolute;
    background-color: #d7dde5;
    border-radius: 5px;
    border-style: solid;
    border-color: #999aa3;
    left: 90px;
    top: 130px;
    width: 450px;
    height: 500px;
}

#panelName {
    z-index: 1;
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    width: 50%;
    float: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    top: 129px;
    color: white;
    font-size: 20px;
    background-color: #3851d7;
}

#panelNamePic {
    z-index: 2;
    display: block;
    margin: 0px auto;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 35px;
    float: left;
    border: 2px solid white;
    border-color: #a8b9c1;
    background-color: white;
}

