#mapContainer {
    width: 50%;
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid #999aa3;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 30%;
    float: left;
}

#mapTitle {
    width: 100%;
    height: 8%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

#map {
    text-align: center;
}



#friendsTen {
    width: 50%;
    height: 150px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 30%;
}

    #friendsTen a {
        margin-left: 92%;
    }

#topTenTitle {
    height: 12%;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

#topTen {
    width: 100%;
    height: 75%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

#friendRequest {
    width: 10%;
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
}

.topTenFriend {
    height: 100%;
    width: 10%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid black;
    float: left;
}

.topTenPicture {
    height: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

.topTenName {
    text-align: center;
}

#requestTitle {
    height: 10%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
    padding-top: 5%;
    text-align: center;
}

.request {
    width: 100%;
    height: 18%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

.requestPicture {
    width: 30%;
    height: 75%;
    margin-left: 5%;
    margin-top: 5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    float: left;
}

.requestName {
    margin-left: 50%;
    padding-top: 5%;
}

.requestAccept {
    width: 20px;
    height: 20px;
    background-image: url(../images/accept.png);
    margin-left: 40%;
    margin-top: 5%;
    float: left;
}

.requestDecline {
    width: 20px;
    height: 20px;
    background-image: url(../images/decline.png);
    margin-top: 5%;
    margin-left: 45%;
}

#friendsFour {
    display:none;
}

.topTenImage {
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    background-size: cover;
}

.topTenName {
    text-align: center;
    font-size: 1vw;
}

@media (max-width:700px) {
    #friendRequest {
        display:none;
    }

    #mapContainer {
        width:80%;
        margin-left:10%;
    }

    #friendsTen{
        display:none;
    }

    #friendsFour {
        display: block;
        width: 80%;
        height: 10%;
        display: inline-block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid black;
        margin-top: 10%;
        margin-left: 10%;
    }

    .topFourFriend {
        display:block;
        width: 25%;
        float: left;
    }

    .topFourImage {
        width:95%;
        height:95%;
        margin-left:2.5%;
        background-size: cover;
    }

    .topFourName{
        text-align:center;
        font-size:3vw;
    }
}
