#mapContainer {
    width: 50%;
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 10%;
    float: left;
}

#mapTitle {
    width: 100%;
    height: 8%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

#map {
    text-align: center;
}



#friends {
    width: 50%;
    height: 150px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 25.2%;
}

    #friends a {
        margin-left: 92%;
    }

#topTenTitle {
    height: 12%;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

#topTen {
    width: 100%;
    height: 75%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

#friendRequest {
    width: 10%;
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
}

.topTenFriend {
    height: 100%;
    width: 10%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid black;
    float: left;
}

.topTenPicture {
    height: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

.topTenName {
    text-align: center;
}

#requestTitle {
    height: 10%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
    padding-top: 5%;
    text-align: center;
}

.request {
    width: 100%;
    height: 18%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid black;
}

.requestPicture {
    width: 30%;
    height: 75%;
    margin-left: 5%;
    margin-top: 5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    float: left;
}

.requestName {
    margin-left: 50%;
    padding-top: 5%;
}

.requestAccept {
    width: 20px;
    height: 20px;
    background-image: url(../images/accept.png);
    margin-left: 40%;
    margin-top: 5%;
    float: left;
}

.requestDecline {
    width: 20px;
    height: 20px;
    background-image: url(../images/decline.png);
    margin-top: 5%;
    margin-left: 45%;
}
