@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

img.schoollogo {
    position: absolute;
    height: 10%;
}

a.login-warning {
    font-family: 'Open Sans';
    font-size: 25;
    text-align: center;
    color: white;
    overflow: hidden;
}

img.hanzelogo {
    position: fixed;
    top: 3%;
    right: 0%;
}

img.speechLogo {
    position: fixed;
    top: 10%;
    height: 20%;
    width: 20%;
    left: 50%;
}

img.questionmark {
    position: absolute;
    margin-left: 180px;
    margin-top: -100px;
}

.questionmarkTooltip {
    position: absolute;
    top: 100px;
}

body, html {
    height: 100%;
}

body, a {
    font-family: 'Open Sans';
    font-weight: 10;
    display: flex;
    overflow: hidden;
}

table, td, tr {
    border: 1px solid white;
    text-align: center;
    color: white;
}

input {
    :: -webkit-input-placeholder

{
    color: rgba(255,255,255,0.7);
}

::-moz-placeholder {
    color: rgba(255,255,255,0.7);
}

:-ms-input-placeholder {
    color: rgba(255,255,255,0.7);
}

&:focus {
    outline: 0 transparent solid;
    :: -webkit-input-placeholder

{
    color: rgba(0,0,0,0.7);
}

::-moz-placeholder {
    color: rgba(0,0,0,0.7);
}

:-ms-input-placeholder {
    color: rgba(0,0,0,0.7);
}

}
}

.login-form {
    background: #222;
    box-shadow: 0 0 1rem rgba(10,0,0,0.3);
    min-height: 1rem;
    margin: auto;
    text-align: center;
    color: #646464;
    max-width: 12%;
    margin-top: 15%;
    padding: .40rem;
    padding-top: 10px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.login-check-form {
    float: right;
    background: #222;
    box-shadow: 0 0 1rem rgba(10,0,0,0.3);
    min-height: 10rem;
    margin: auto;
    color: white;
    text-align: center;
    max-width: 50%;
    padding: .40rem;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.dashboard {
    float: right;
    background: #222;
    text-align: center;
    color: white;
    box-shadow: 0 0 1rem rgba(10,0,0,0.3);
    height: 50%;
    margin: auto;
    width: 75%;
    padding-left: 50px;
    padding-right: 10%;
    padding: .40rem;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.login-form:hover {
    -webkit-transition: border-radius 20px;
}

.login-text {
    background: hsl(40,30,60);
    border-bottom: .5rem solid #646464;
    color: #646464;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
    .fa-stack-1x

{
    color: black;
}

}

.login-check-text {
    background: hsl(40,30,60);
    border-bottom: .5rem solid #646464;
    color: white;
    text-color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
    .fa-stack-1x

{
    color: black;
}

}

.login-username, .login-password {
    background: transparent;
    border: 0 solid;
    background-color: #343434;
    border-bottom: 12px solid rgba(white, .5);
    color: white;
    display: block;
    margin: 1rem;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3.3rem);
    &:focus

{
    background-color: #343434;
    color: black;
    transition: 150ms background ease-in;
}

}

.login-username:hover, .login-password:hover {
    background-color: #454545;
}

.login-forgot-pass {
    font-weight: 10;
    font-size: 50px;
    bottom: 0;
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Calibri';
    font-size: 80%;
    left: 0;
    opacity: 0.6;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    width: 92%;
    &:hover

{
    opacity: 1;
}

}

.login-submit {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: .25rem;
    transition: 250ms background ease-in;
    &:hover, &:focus

{
    background: white;
    color: black;
    transition: 250ms background ease-in;
}

}




[class*=underlay] {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.underlay-photo {
    background-image: url("../images/bg-login.jpg");
    background-size: cover;
    -webkit-filter: grayscale(90%);
    z-index: -1;
    animation: fadein 2s;
}

.underlay-black {
    background: rgba(0,0,0,0.7);
    z-index: -1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
