@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

img.schoollogo {
    position: absolute;
    height: 10%;
}

a.login-warning {
    font-family: 'Open Sans';
    font-size: 25px;
    text-align: center;
    color: white;
    overflow: hidden;
}

img.hanzelogo {
    position: fixed;
    top: 3%;
    right: 0%;
}
img.questionmark {
    position: absolute;
    margin-left: 180px;
    margin-top: -100px;
}

.questionmarkTooltip {
    position: absolute;
    top: 100px;
}

body, html {
    height: 100%;
}

body, a {
    font-family: 'Open Sans';
    font-weight: 10;
    display: flex;

}

table, td, tr {
    border: 1px solid white;
    text-align: center;
    color: white;
}

input {
    :: -webkit-input-placeholder;

{
    color: rgba(255,255,255,0.7);
}

::-moz-placeholder {
    color: rgba(255,255,255,0.7);
}

:-ms-input-placeholder {
    color: rgba(255,255,255,0.7);
}

&:focus {
    outline: 0 transparent solid;
    :: -webkit-input-placeholder

{
    color: rgba(0,0,0,0.7);
}

::-moz-placeholder {
    color: rgba(0,0,0,0.7);
}

:-ms-input-placeholder {
    color: rgba(0,0,0,0.7);
}

}
}


.wrapper {
    width: 800px;
    margin: auto;
    margin-top: 15%;
}

@media (max-width: 700px) {
    .welcomeScreen, .welcomeScreen-small, .welcomeScreen-extended {
        display: none;
    }
    .login-form-small, .login-form-extended {
        width: 50%;
        margin-left: 6%;
        margin-top: 9%;
        border-left: 5px solid #3851d7;
    }

    img.hanzelogo {
        position: fixed;
        top: 90%;
        right: 0%;
    }
    img.speechLogo {
        display:none;
    }
    .smallLogo {
        width:120px;
        height:100px;
        background-image:url('../images/Speech-simple.png');
        background-size:cover;
        margin-left:18%;
        top:0%;
    }
}

.welcomeScreen {
    float: left;
    background: #222;
    box-shadow: 0 0 1rem rgba(10,0,0,0.3);
    background-image: url("../images/welcome-bg.jpg");
    height: 350px;
    border-left-style: solid;
    border-left-color: #3851d7;
    border-width: 5px;
    text-align: center;
    color: #646464;
    width: 400px;
    animation: fadein 1s;
}

img.speechLogo {
    position: absolute;
    height: 20%;
    right: 28%;
    max-width: 100%;
    background-size:cover;
    top: 17%;
}


.welcomeScreen, .welcomeScreen-small, .welcomeScreen-extended {
    float: left;
    background: #222;
    box-shadow: 0 0 1rem rgba(10,0,0,0.3);
    background-image: url("../images/welcome-bg.jpg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: #efefef;
    border-left-style: solid;
    border-left-color: #3851d7;
    border-width: 5px;
    text-align: center;
    color: #646464;
    width: 400px;
}


.welcomeScreen-small {
    -webkit-animation: fadeinSmall 1s;
    height: 350px;
}

.welcomeScreen-extended {
    -webkit-animation: fadeinLarge 1s;
    height: 450px;
}

img.speechLogo {
    position: absolute;
    height: 150px;
    right: 28%;
    top: 17%;
}


.login-form, .login-form-small, .login-form-extended {
    float: left;
    background: #222;
    box-shadow: 0 0 1rem rgba(10,0,0,0.3);
    background-color: #d7dde5;
    border-right-style: solid;
    border-right-color: #3851d7;
    border-width: 5px;
    transition: 0.3s;
    text-align: center;
    color: #646464;
    width: 250px;
}

.login-form-small {
    -webkit-animation: fadeinSmall 1s;
    height: 350px;
}

.login-form-extended {
    -webkit-animation: fadeinLarge 1s;
    height: 450px;
}


.WelcomeHeader {
    text-align: left;
    padding-left: 15px;
    font-size: 25px;
}

    .WelcomeHeader span {
        font-size: 30px;
        color: #3851d7;
    }

.welcomeText {
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    margin-right: 20px;
}

    .welcomeText li {
        font-size: 18px;
        margin-bottom: 10px;
        margin-right: 15px;
    }

.login-check-form {
    float: right;
    background: #222;
    box-shadow: 0 0 1rem rgba(10,0,0,0.3);
    min-height: 10rem;
    margin: auto;
    color: black;
    text-align: center;
    max-width: 50%;
    padding: .40rem;
}

.dashboard {
    float: right;
    background: #222;
    text-align: center;
    color: black;
    box-shadow: 0 0 1rem rgba(10,0,0,0.3);
    height: 50%;
    margin: auto;
    width: 75%;
    padding-left: 50px;
    padding-right: 10%;
    padding: .40rem;
    animation: fadein 1s;
}

.login-form:hover {
    -webkit-transition: border-radius 20px;
}

.login-text {
    background: hsl(40,30,60);
    border-bottom: .5rem solid #3851d7;
    color: #646464;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
}

.login-check-text {
    background: hsl(40,30,60);
    border-bottom: .5rem solid #646464;
    color: black;
    text-color: black;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
    .fa-stack-1x

{
    color: black;
}

}

.login-username, .login-password, .login-gender {
    background: transparent;
    border: 0 solid;
    background-color: #edeff2;
    border-bottom: 12px solid rgba(white, .5);
    color: black;
    display: block;
    margin: 1rem;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3.3rem);

{
    background-color: #343434;
    color: black;
    transition: 150ms background ease-in;
}
}

    .login-gender {
        width: calc(100% - 2.2rem);
    }

.login-forgot-pass {
    font-weight: 10;
    font-size: 50px;
    bottom: 0;
    color: black;
    cursor: pointer;
    display: block;
    font-family: 'Calibri';
    font-size: 80%;
    left: 0;
    opacity: 0.6;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    width: 92%;
    &:hover

{
    opacity: 1;
}

}

.login-submit {
    border: 1px solid white;
    background: transparent;
    color: black;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: .25rem;
    transition: 250ms background ease-in;
    &:hover, &:focus

{
    background: white;
    color: black;
    transition: 250ms background ease-in;
}

}

@keyframes fadeinSmall {
    from {
        height: 0px;
        opacity: 1;
    }

    to {
        height: 350px;
        opacity: 1;
    }
}

@keyframes fadeinLarge {
    from {
        height: 350px;
        opacity: 1;
    }

    to {
        height: 450px;
        opacity: 1;
    }
}