#panelInformation {
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    top: 125px;
    width: 94%;
    border-color: #a8b9c1;
    border-radius: 10px;
    border-style: solid;
    height: 70%;
    background-color: #c0c2c4;
}

.WeatherWidget {
    transition: 0.2s;
    position: absolute;
    height: 35%;
    width: 46%;
    background-color: #d7dde5;
    background-image: url("../images/sunny.jpg");
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: #999aa3;
    margin-top: 1%;
    margin-left: 1%;
    overflow: hidden;
}

.WeatherWidget p {
    position: relative;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    top: 0px;
    margin-left: 10px;
    color: white;
}


#weatherIcon {
    position: absolute;
    left: 10px;
    top: 40px;
    width: 40%;
}

#Temperature {
    position: absolute;
    bottom: 1%;
    left: 35%;
    color: white;
    text-align: left;
    font-size: 2.7vw;
}


.notificationsWidget {
    overflow-y: scroll;
    position: absolute;
    height: 35%;
    background-image: url("../images/notificationsbackground.jpg");
    width: 46%;
    background-color: #d7dde5;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: #999aa3;
    margin-top: 1%;
    margin-left: 52%;
    transition: 0.2s;
    overflow: hidden;
}

    .notificationsWidget p {
        color: white;
        width: 90%;
        border-bottom-style: solid;
        border-color: #b1b7bf;
        border-width: 1px;
        border-radius: 1px;
    }

.feedWidget {
    transition: 0.2s;
    overflow-y: scroll;
    position: absolute;
    height: 58%;
    background-image: url("../images/feedBackground.jpg");
    background-repeat: repeat-x;
    width: 97%;
    background-color: #d7dde5;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: #999aa3;
    bottom: 0;
    margin-left: 1%;
    overflow: hidden;
}
.timestamp {
    color: #afaeae;
}
    .feedupdate {
        position:relative;
        color: white;
        border-bottom-style: solid;
        border-color: grey;
        border-width: 1px;
        margin-bottom: 2%;
        text-align: left;
        margin-right: 15%;
        width: 70%;
    }

.seen {
    transition: 0.2s;
    position: absolute;
    height: 50px;
    left: 110%;
    top: 3px;
    width: 23px;
    height: 15px;
}

.seen:hover {
    transition: 0.2s;
    border-style: solid;
    border-width: 1px;
}

.remove {
    transition: 0.2s;
    float: right;
    position: absolute;
    top: 3px;
    top: 3px;
    left: 120%;
    width: 15px;
    height: 15px;
}

    .remove:hover {
        transition: 0.2s;
        border-style: solid;
        border-width: 1px;
    }

.feedHeader {
    width: 100%;
    color: white;
    border-radius: 6px;
    border-bottom-style: none;
    border-width: 0px;
    border-color: #999aa3;
    text-align: center;
    font-size: 30px;
}