#profilePic {
    width: 100px;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
}

#settings {
	width:65%;
	height: 600px;
	border: 1px solid black;
	text-align:center;	
	margin-top:5%;
	margin-left: 25%;
}
