#profilePic {
    width: 100px;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
}

#settings {
    z-index: 1;
    position: relative;
    width: 55%;
    height: 600px;
    background-color: #d7dde5;
    border-radius: 15px;
    border-style: solid;
    border-color: #999aa3;
    top: 100px;
    left: 30%;
}

.settingIcon {
    position: absolute;
    left: 4%;
    top: 10px;
    width: 15%;
}


.settingRightIcon {
    position: relative;
    height: 25%;
    left: 0;
    top: 0px;
    width: 25px;
}

#settingsLeft {
    z-index: 0;
    height: 10%;
    width: 20%;
    border-color: #999aa3;
    background-color: #d7dde5;
    float: left;
}

.menuItem {
    position: relative;
    min-width: 100%;
    width: 100%;
    height: 1%;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #999aa3;
    background-color: #edeff2;
    color: BLACK;
    font-size: 1vw;
    text-align: center;
    transition: 0.2s;
}

    .menuItem:hover {
        cursor: pointer;
        transition: 0.2s;
        transition: background-color 0.2s ease;
        background-color: #b7bfcc;
    }

#settingsRight {
    z-index: 1;
    overflow-y: scroll;
    float: left;
    height: 84.6%;
    padding-bottom: 40px;
    width: 76%;
    margin: 0 auto;
    background-color: #fcfcfc;
    border-color: #999aa3;
    border-left: 1px solid black;
    float: right;
}

.settingRightIcon {
    position: relative;
    height: 25%;
    left: 0;
    top: 0px;
    width: 25px;
}

#newProfilePic {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    #newProfilePic:hover{
        cursor:pointer;
    }


.optionName  {
    position: relative;
    list-style-type: none;
    font-size: 1vw;
    transition: 0.2s;
    padding-bottom: 15px;
}

.dividerLine {
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #999aa3;
    width: 30%;
}

.optionInfo {
    color: grey;
}

.optionValue {
    position: absolute;
    float: left;
    height: 40px;
    right: 2%;
    opacity: 0.9;
    width: 30%;
    background-color: #fcfcfc;
    padding-left: 50px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    color: black;
    padding: 5px;
    font-size: 1vw;
}

/*Deze heeft alleen andere font size als .optionValue, kan dit samengevoegd worden oid?*/
#optionDate {
    position: absolute;
    float: left;
    height: 40px;
    right: 2%;
    opacity: 0.9;
    width: 30%;
    background-color: #d7dde5;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #edeff2;
    color: black;
    padding: 5px;
    font-size: 18px;
}

.profileOption {
    transition: 0.1s;
    position: absolute;
    text-align: center;
    float: left;
    height: 40px;
    right: 2%;
    opacity: 0.9;
    width: 30%;
    padding-left: 50px;
    padding: 20px;
    border-radius: 5px;
    border-style: none;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    padding: 5px;
    font-size: 0.95vw;
    background-color: #3851d7;
}


    .profileOption:hover {
        cursor: pointer;
        transition: 0.1s;
        background-color: #1b2768;
    }

.optionValue textarea[type="password"] {
    -webkit-text-security: disc;
}

.applybutton {
    z-index: 1;
    transition: 0.1s;
    text-align: center;
    background-color: #fcfcfc;
    border-top: solid;
    border-color: #999aa3;
    border-width: 1px;
    position: absolute;
    width: 76%;
    height: 50px;
    bottom: 0px;
    right: 0px;
}

.optionApplyButton button {
    transition: 0.2s;
    width: 120px;
    height: 40px;
    font-size: 20px;
    bottom: 70px;
    color: white;
    background-color: #3851d7;
    border-style: none;
    border-radius: 5px;
}


.optionApplyButton button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: #1b2768;
}

.buttonWrapper {
    border-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.optionRevertButton button {
    width: 220px;
    font-size: 20px;
    position: fixed;
    color: white;
    margin-right: 30px;
    background-color: #3851d7;
    border-style: none;
    border-radius: 5px;
}

.optionValueLong {
    position: absolute;
    float: left;
    height: 40px;
    right: 2%;
    opacity: 0.9;
    width: 30%;
    background-color: #fcfcfc;
    padding-left: 50px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    color: black;
    padding: 5px;
    font-size: 0.7vw;
}

.aboutLogo {
    position: absolute;
    width: 30%;
    right: 0;
}

#element {
    background-color: red;
    height: 500px;
}

.versionNumberAbout {
    position: absolute;
    margin-top: 3%;
    font-size: 2vw;
}

.descriptionAbout {
    font-size: 1vw;
}