body {
    margin: 0 0 0 0;
    background-image: URL(/images/background.png);
    background-size: cover;
    z-index: -1;
font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    animation: fadein 2s;
}

textarea {
    resize: none;
}

.div {
    border-color: #999aa3;
}


#Header {
    text-transform: uppercase;
    background-color: #2d5aa2;
    font-size: 25px;
    color: white
}

#headerIcon {
    position: absolute;
    height: 60px;
    left: 1%;
    top: -6%;
}

#menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 30px;
    background-color: #d7dde5;
}

#logo {
	width: 16%;
	float: left;
	border: 1px solid black;
}
.menuitem, .selectedItem {
    text-transform: uppercase;
    transition: 0.2s;
    float: left;
    height: 40px;
    opacity: 0.9;
    width: 12.5%;
    background-color: #d7dde5;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    border-bottom-style: solid;
    color: black;
    padding: 5px;
    font-size: 1.4vw;
}

.menuitem {
    border-bottom-width: 2px;
    border-bottom-color: white;
    background-color: #edeff2;
}

.selectedItem {
    cursor: pointer;
    border-bottom-width: 3px;
    border-bottom-color: #3851d7;
    background-color: aliceblue;
}

#logoSmall {
    display:none;
}



@media (max-width:700px) {
    .menuitem, .selectedItem{
        text-indent:-9999px;
    }

    #logoSmall {
        display:block;
    }

    #logoBig{
        display:none;
    }

}

    .menuitem:hover, .selectedItem:hover {
        cursor: pointer;
        transition: 0.2s;
        background-color: white;
        transition: background-color 0.2s ease;
        border-radius: 5px;
        border-bottom-color: grey;
    }

.menuLogo {
    height: 100%;
    background-size: 100% 100%;
    float: left;
}

.menuIcon {
    position: relative;
    height: 30px;
    width: 30px;
    float: left;
}

.searchBar {
    float: left;
    height: 40px;
    opacity: 0.9;
    width: 30%;
    background-color: #d7dde5;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    background-color: #edeff2;
    color: black;
    padding: 5px;
    font-size: calc(10px + 0.7vw);
}

.menufiller {
    float: left;
    height: 40px;
    opacity: 0.9;
    width: 3.75%;
    background-color: #d7dde5;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    background-color: #edeff2;
    color: black;
    padding: 5px;
    font-size: 25px;
}

#userInfo {
	margin-top: 5%;
	margin-left: 10%;
	height: 500px;
	width: 20%;
	border: 1px solid black;
	float: left;
}

#userInfoItem {
    list-style: none;
    text-transform:capitalize;
}

#postBar {
	margin-left: 40%;
	margin-top: 5%;
	width: 30%;
	height: 75px;
	
}

#photo {
	float: left;
	width: 75px;
	height: 75px;
	
}
.postItem {
	float: left;
	width: 120px;
	height: 50px;

	border: 1px solid black;
}

#posts {
	width: 30%;
	height: 400px;
	border: 1px solid black;
	float: left;
	margin-left: 10%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    outline: 2px solid #FFF;
    outline-offset: -2px;
    border: .1px solid #B7B7B7;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #909090;
    }
