body {
    margin: 0 0 0 0;
    background-image: url("../images/bg-login.jpg");
    background-size: cover;
    z-index: -1;
    animation: fadein 2s;
}

#menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 30px;
}

#logo {
	width: 16%;
	height: 100px;
	float: left;
	border: 1px solid black;
}
.menuitem {
    float: left;
    height: 30px;
    width: 12.5%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    background-color: #222;
    color: aliceblue;
}

.selectedItem {
    float: left;
    height: 30px;
    width: 12.5%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    background-color: aliceblue;
    color: #222;
}

#userInfo {
	margin-top: 5%;
	margin-left: 10%;
	height: 500px;
	width: 20%;
	border: 1px solid black;
	float: left;
}

#userInfoItem {
    list-style: none;
}

#postBar {
	margin-left: 40%;
	margin-top: 5%;
	width: 30%;
	height: 75px;
	
}

#photo {
	float: left;
	width: 75px;
	height: 75px;
	
}
.postItem {
	float: left;
	width: 120px;
	height: 50px;

	border: 1px solid black;
}

#posts {
	width: 30%;
	height: 400px;
	border: 1px solid black;
	float: left;
	margin-left: 10%;
}
