<img class="speechLogo" src="Images/Speech.png">   
 <div class="wrapper">
    <div class="welcomeScreen-extended">
        <div class="WelcomeHeader">Welcome to <span>!Speech</span></div>
        <div class="welcomeText">
            Speech is a new Social Media platform created with the user in mind. Our goal is to bring Social Media back to its roots.
            <ul>
                <li>Top-notch Privacy</li>
                <li>Profile Customization</li>
                <li>Advanced Filter Controls</li>
                <li>Real-time information at all times!</li>

            </ul>
        </div>
    </div>
    <form class="login-form-extended">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
        </span>

        </p>
        <div style="color:red;" ng-repeat="registerError in registerErrors"> {{ registerError }} </div>
        <div style="color:red;" ng-repeat="passwordError in passwordErrors"> {{ passwordError }} </div>
        <input type="UserID" class="login-username" autofocus="true" required="true" placeholder="First Name" ng-model="firstName" />
        <input type="text" class="login-password" required="true" placeholder="Last Name" ng-model="lastName" />
        <select class="login-gender" ng-model="gender">
            <option disabled selected="selected">Select your gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <input type="email" class="login-password" required="true" placeholder="Email Address" ng-model="email" />
        <input type="date" class="login-password" required="true" placeholder="Date of birth" min="01-01-1900" max=DateTime.Now ng-model="dateOfBirth" />
        <input type="password" class="login-password" required="true" placeholder="Password" ng-model="password" />
        <input type="password" class="login-password" required="true" placeholder="Password again" ng-model="password2" />
        <input type="submit" name="Register" value="Register" class="login-submit" ng-click="registerUser()" />

        <div ng-click="redirectLogin()" class="login-forgot-pass">Login</div>
    </form>
<div class="underlay-photo"></div>
<div class="underlay-black"></div> 
<img class="hanzelogo" src="Images/hanzelogo.png">
